<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="farziarrtist@gmail.com" />
    <add key="SmtpPass" value="ujca drrn otlb dxrm" />
    <add key="SmtpFrom" value="farziarrtist@gmail.com" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="AdminSellerNotifyEmail" value="" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
  <connectionStrings>
    <add name="MlmDb" connectionString="Server=.;Database=ecomm_db;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="51200" executionTimeout="3600" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <authentication mode="Forms" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
