USE [ecomm_db]
GO
/****** Object:  Table [dbo].[AccountDeleteRequests]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDeleteRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RequestDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[AdminApprovedDate] [datetime] NULL,
	[ScheduledDeleteDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[StreetAddress] [nvarchar](500) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](100) NOT NULL,
	[ZipCode] [nvarchar](20) NOT NULL,
	[Tag] [nvarchar](50) NULL,
	[IsDefault] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminMessages]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](300) NOT NULL,
	[IconClass] [nvarchar](80) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminNotifications]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminNotifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](300) NOT NULL,
	[IconClass] [nvarchar](80) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminSkuSequences]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminSkuSequences](
	[CategoryName] [nvarchar](100) NOT NULL,
	[LastNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[SessionId] [nvarchar](100) NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SelectedSize] [nvarchar](50) NULL,
	[SelectedColor] [nvarchar](50) NULL,
	[AddedDate] [datetime] NOT NULL,
	[IsSavedForLater] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NULL,
	[CouponCode] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NOT NULL,
	[MaxDiscount] [decimal](18, 2) NULL,
	[ExpiryDate] [datetime] NULL,
	[UsageLimit] [int] NULL,
	[UsageCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ValidFrom] [datetime] NULL,
	[ValidUntil] [datetime] NULL,
	[CustomerMessage] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[IconClass] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AddressId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[ItemCount] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[CouponCode] [nvarchar](50) NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[PaymentMode] [nvarchar](50) NULL,
	[OrderRef] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayoutRequests]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayoutRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RequestAmount] [decimal](18, 2) NOT NULL,
	[TdsDeduction] [decimal](18, 2) NOT NULL,
	[AdminCharges] [decimal](18, 2) NOT NULL,
	[NetPayable] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TransactionId] [nvarchar](100) NULL,
	[PaidDate] [datetime] NULL,
	[AdminRemarks] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NULL,
	[ReviewerName] [nvarchar](120) NULL,
	[Rating] [int] NULL,
	[ReviewText] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[ReviewStatus] [nvarchar](20) NOT NULL,
	[IsVerifiedPurchase] [bit] NOT NULL,
	[ProductName] [nvarchar](220) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantType] [nvarchar](50) NOT NULL,
	[VariantValue] [nvarchar](100) NOT NULL,
	[Sku] [nvarchar](100) NULL,
	[Stock] [int] NOT NULL,
	[PriceOffset] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerKycDrafts]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerKycDrafts](
	[SellerId] [int] NOT NULL,
	[StoreName] [nvarchar](200) NULL,
	[GstNumber] [nvarchar](50) NULL,
	[PanNumber] [nvarchar](50) NULL,
	[AadharNumber] [nvarchar](50) NULL,
	[BankHolderName] [nvarchar](150) NULL,
	[BankName] [nvarchar](150) NULL,
	[BankAccountNumber] [nvarchar](50) NULL,
	[BankIFSC] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [nvarchar](20) NULL,
	[KycPanDocPath] [nvarchar](500) NULL,
	[KycAadharDocPath] [nvarchar](500) NULL,
	[KycGstDocPath] [nvarchar](500) NULL,
	[SubmittedAt] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerProducts]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](220) NOT NULL,
	[Brand] [nvarchar](120) NOT NULL,
	[Sku] [nvarchar](80) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Mrp] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ListingStatus] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IconClass] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[SellerId] [int] NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[GalleryUrls] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ProductType] [nvarchar](100) NULL,
	[SizeOptions] [nvarchar](300) NULL,
	[SelectedColors] [nvarchar](300) NULL,
	[ShippingClass] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](220) NULL,
	[MetaKeywords] [nvarchar](500) NULL,
	[MainImage] [nvarchar](max) NULL,
	[Badge] [nvarchar](60) NULL,
	[UpdatedAt] [datetime] NULL,
	[Currency] [nvarchar](20) NULL,
	[FlashOfferText] [nvarchar](200) NULL,
	[OfferCountdown] [nvarchar](80) NULL,
	[BankOfferText] [nvarchar](250) NULL,
	[Weight] [nvarchar](50) NULL,
	[Dimensions] [nvarchar](100) NULL,
	[Gender] [nvarchar](50) NULL,
	[FlashOffer] [nvarchar](200) NULL,
	[BankOffer] [nvarchar](250) NULL,
	[ColorOptions] [nvarchar](200) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[BadgeText] [nvarchar](100) NULL,
	[BrandDisplay] [nvarchar](150) NULL,
	[ColorGroupKey] [nvarchar](100) NULL,
	[ColorName] [nvarchar](50) NULL,
	[ColorCode] [nvarchar](50) NULL,
	[ManufacturerName] [nvarchar](255) NULL,
	[ManufacturerCountry] [nvarchar](150) NULL,
	[ManufacturerAddress] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerUsers]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[StoreName] [nvarchar](180) NULL,
	[Address] [nvarchar](300) NULL,
	[City] [nvarchar](120) NULL,
	[State] [nvarchar](120) NULL,
	[Pincode] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[IsKycSubmitted] [bit] NOT NULL,
	[KycStatus] [nvarchar](30) NOT NULL,
	[GstNumber] [nvarchar](50) NULL,
	[PanNumber] [nvarchar](30) NULL,
	[AadharNumber] [nvarchar](30) NULL,
	[DocumentPath] [nvarchar](400) NULL,
	[NotifyEmail] [bit] NOT NULL,
	[NotifySms] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[RequestedCategories] [nvarchar](300) NULL,
	[AdditionalNote] [nvarchar](500) NULL,
	[EmailVerified] [bit] NOT NULL,
	[AdminApproved] [bit] NOT NULL,
	[RegistrationCode] [nvarchar](20) NULL,
	[RegistrationCodeExpiresAt] [datetime] NULL,
	[BankHolderName] [nvarchar](150) NULL,
	[BankAccountNumber] [nvarchar](34) NULL,
	[BankIFSC] [nvarchar](11) NULL,
	[BankName] [nvarchar](120) NULL,
	[KycAddressProofPath] [nvarchar](400) NULL,
	[KycIdProofPath] [nvarchar](400) NULL,
	[KycGstDocPath] [nvarchar](400) NULL,
	[KycPanDocPath] [nvarchar](400) NULL,
	[KycAadharDocPath] [nvarchar](400) NULL,
	[PanDocumentPath] [nvarchar](400) NULL,
	[AadharDocumentPath] [nvarchar](400) NULL,
	[EditRequestStatus] [nvarchar](30) NOT NULL,
	[LogoPath] [nvarchar](400) NULL,
	[BannerPath] [nvarchar](400) NULL,
	[DeletionStatus] [nvarchar](30) NOT NULL,
	[DeactivationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[ConfigKey] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBankDetails]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBankDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AccountHolderName] [nvarchar](100) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[IFSCCode] [nvarchar](20) NOT NULL,
	[BranchName] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserIncome]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIncome](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FromUserId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[IncomeAmount] [decimal](18, 2) NOT NULL,
	[CommissionPct] [decimal](5, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRewards]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRewards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[OrderAmount] [decimal](18, 2) NOT NULL,
	[PointsEarned] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[CreditedDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SponsorId] [nvarchar](100) NOT NULL,
	[SponsorName] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Dob] [date] NULL,
	[Gender] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ProfileImage] [nvarchar](500) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[IsMobileVerified] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ParentId] [nvarchar](100) NULL,
	[Position] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishlistItems]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SessionId] [nvarchar](255) NULL,
	[UserId] [int] NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountDeleteRequests] ON 

INSERT [dbo].[AccountDeleteRequests] ([Id], [UserId], [RequestDate], [Status], [AdminApprovedDate], [ScheduledDeleteDate]) VALUES (1, 1, CAST(N'2026-05-12T20:57:58.490' AS DateTime), N'CANCELLED', NULL, NULL)
INSERT [dbo].[AccountDeleteRequests] ([Id], [UserId], [RequestDate], [Status], [AdminApprovedDate], [ScheduledDeleteDate]) VALUES (2, 2, CAST(N'2026-05-13T01:05:46.673' AS DateTime), N'CANCELLED', NULL, NULL)
INSERT [dbo].[AccountDeleteRequests] ([Id], [UserId], [RequestDate], [Status], [AdminApprovedDate], [ScheduledDeleteDate]) VALUES (3, 3, CAST(N'2026-05-13T01:17:44.977' AS DateTime), N'APPROVED', CAST(N'2026-05-13T01:17:58.470' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AccountDeleteRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [UserId], [FullName], [PhoneNumber], [StreetAddress], [City], [State], [ZipCode], [Tag], [IsDefault], [CreatedAt]) VALUES (1, 1, N'Deadly Crew', N'9876543210', N'C-603, HPCL Housing Socitey, Sec- Pi', N'Greator Noida', N'Uttar Pradesh', N'201301', N'Home', 1, CAST(N'2026-05-08T15:33:57.093' AS DateTime))
INSERT [dbo].[Addresses] ([Id], [UserId], [FullName], [PhoneNumber], [StreetAddress], [City], [State], [ZipCode], [Tag], [IsDefault], [CreatedAt]) VALUES (2, 1, N'The artist', N'9876543211', N'91 Springboard, Sector 1', N'Noida', N'Uttar Pradesh', N'201311', N'Office', 0, CAST(N'2026-05-08T15:34:33.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminMessages] ON 

INSERT [dbo].[AdminMessages] ([Id], [SenderName], [Message], [IconClass], [IsRead], [CreatedAt]) VALUES (1, N'Susan Donoghue', N'Hi, how are you? Meeting update?', N'fa-user', 0, CAST(N'2026-05-08T16:42:50.827' AS DateTime))
INSERT [dbo].[AdminMessages] ([Id], [SenderName], [Message], [IconClass], [IsRead], [CreatedAt]) VALUES (2, N'Jacob Gines', N'Replied on cash flow graph.', N'fa-user', 0, CAST(N'2026-05-08T16:42:50.827' AS DateTime))
INSERT [dbo].[AdminMessages] ([Id], [SenderName], [Message], [IconClass], [IsRead], [CreatedAt]) VALUES (3, N'Alex Smith', N'Shared latest monthly report.', N'fa-user', 0, CAST(N'2026-05-08T16:42:50.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminNotifications] ON 

INSERT [dbo].[AdminNotifications] ([Id], [Title], [Message], [IconClass], [IsRead], [CreatedAt]) VALUES (1, N'New Comment', N'Josephine commented on admin panel.', N'fa-comment', 0, CAST(N'2026-05-08T16:42:50.820' AS DateTime))
INSERT [dbo].[AdminNotifications] ([Id], [Title], [Message], [IconClass], [IsRead], [CreatedAt]) VALUES (2, N'System Alert', N'Inventory threshold reached for 5 products.', N'fa-triangle-exclamation', 0, CAST(N'2026-05-08T16:42:50.820' AS DateTime))
INSERT [dbo].[AdminNotifications] ([Id], [Title], [Message], [IconClass], [IsRead], [CreatedAt]) VALUES (3, N'Order Update', N'12 new orders received today.', N'fa-shopping-bag', 0, CAST(N'2026-05-08T16:42:50.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminNotifications] OFF
GO
INSERT [dbo].[AdminSkuSequences] ([CategoryName], [LastNumber]) VALUES (N'Fashion', 3)
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([Id], [FullName], [Email], [Password], [IsActive], [CreatedAt]) VALUES (1, N'Super Admin', N'admin@mlm.com', N'AdminSecure@123', 1, CAST(N'2026-05-08T16:19:32.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemId], [UserId], [SessionId], [ProductId], [Quantity], [SelectedSize], [SelectedColor], [AddedDate], [IsSavedForLater]) VALUES (1, NULL, NULL, 31, 1, N'32', N'Blue', CAST(N'2026-05-12T09:44:49.590' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [CreatedAt]) VALUES (1, 1, 2, N'Cozy knit sweater with pockets', CAST(23.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T15:40:41.323' AS DateTime))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [CreatedAt]) VALUES (2, 1, 3, N'Athletic leggings with mesh panels', CAST(40.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T15:40:41.327' AS DateTime))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [CreatedAt]) VALUES (3, 2, 3, N'Athletic leggings with mesh panels', CAST(40.00 AS Decimal(18, 2)), 2, CAST(N'2026-05-08T16:03:37.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [AddressId], [Status], [TotalAmount], [ItemCount], [CreatedAt], [UpdatedAt], [CouponCode], [DiscountAmount], [PaymentMode], [OrderRef]) VALUES (1, 1, 2, N'Placed', CAST(69.90 AS Decimal(18, 2)), 2, CAST(N'2026-05-08T15:40:41.320' AS DateTime), NULL, NULL, CAST(0.00 AS Decimal(18, 2)), N'UPI / NetBanking', N'TXN_ORD_1')
INSERT [dbo].[Orders] ([Id], [UserId], [AddressId], [Status], [TotalAmount], [ItemCount], [CreatedAt], [UpdatedAt], [CouponCode], [DiscountAmount], [PaymentMode], [OrderRef]) VALUES (2, 1, 2, N'Cancelled', CAST(126.90 AS Decimal(18, 2)), 3, CAST(N'2026-05-08T16:03:37.653' AS DateTime), NULL, NULL, CAST(0.00 AS Decimal(18, 2)), N'UPI / NetBanking', N'TXN_ORD_2')
INSERT [dbo].[Orders] ([Id], [UserId], [AddressId], [Status], [TotalAmount], [ItemCount], [CreatedAt], [UpdatedAt], [CouponCode], [DiscountAmount], [PaymentMode], [OrderRef]) VALUES (3, 1, 2, N'Placed', CAST(1004.90 AS Decimal(18, 2)), 2, CAST(N'2026-05-08T20:48:37.587' AS DateTime), NULL, NULL, CAST(0.00 AS Decimal(18, 2)), N'UPI / NetBanking', N'TXN_ORD_3')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([Id], [ProductId], [VariantType], [VariantValue], [Sku], [Stock], [PriceOffset], [CreatedAt]) VALUES (1, 30, N'Size', N'38mm', NULL, 10, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-05-14T15:21:32.537' AS DateTime))
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [VariantType], [VariantValue], [Sku], [Stock], [PriceOffset], [CreatedAt]) VALUES (2, 30, N'Size', N'40mm', NULL, 10, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-05-14T15:21:32.543' AS DateTime))
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [VariantType], [VariantValue], [Sku], [Stock], [PriceOffset], [CreatedAt]) VALUES (3, 30, N'Size', N'42mm', NULL, 10, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-05-14T15:21:32.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[SellerProducts] ON 

SET IDENTITY_INSERT [dbo].[SellerProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[SellerUsers] ON 

SET IDENTITY_INSERT [dbo].[SellerUsers] OFF
GO
INSERT [dbo].[SystemSettings] ([ConfigKey], [ConfigValue]) VALUES (N'AdminCommission', N'10')
INSERT [dbo].[SystemSettings] ([ConfigKey], [ConfigValue]) VALUES (N'MaintenanceMode', N'FALSE')
INSERT [dbo].[SystemSettings] ([ConfigKey], [ConfigValue]) VALUES (N'MinFreeShipping', N'1000')
GO
SET IDENTITY_INSERT [dbo].[UserBankDetails] ON 

INSERT [dbo].[UserBankDetails] ([Id], [UserId], [AccountHolderName], [AccountNumber], [BankName], [IFSCCode], [BranchName], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'The Artist', N'0452125456656', N'HDFC Bank', N'HDFC0001234', N'', CAST(N'2026-05-12T22:44:20.670' AS DateTime), CAST(N'2026-05-12T22:44:20.670' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserBankDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRewards] ON 

INSERT [dbo].[UserRewards] ([Id], [UserId], [OrderId], [OrderAmount], [PointsEarned], [Status], [Description], [CreatedAt], [CreditedDate], [ExpiryDate]) VALUES (1, 1, 1, CAST(69.90 AS Decimal(18, 2)), 69, N'PENDING', NULL, CAST(N'2026-05-08T15:40:41.320' AS DateTime), NULL, NULL)
INSERT [dbo].[UserRewards] ([Id], [UserId], [OrderId], [OrderAmount], [PointsEarned], [Status], [Description], [CreatedAt], [CreditedDate], [ExpiryDate]) VALUES (2, 1, 2, CAST(126.90 AS Decimal(18, 2)), 126, N'CANCELLED', NULL, CAST(N'2026-05-08T16:03:37.653' AS DateTime), NULL, NULL)
INSERT [dbo].[UserRewards] ([Id], [UserId], [OrderId], [OrderAmount], [PointsEarned], [Status], [Description], [CreatedAt], [CreditedDate], [ExpiryDate]) VALUES (3, 1, 3, CAST(1004.90 AS Decimal(18, 2)), 1004, N'PENDING', NULL, CAST(N'2026-05-08T20:48:37.587' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserRewards] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [SponsorId], [SponsorName], [FullName], [Dob], [Gender], [Email], [Mobile], [Username], [Password], [CreatedAt], [ProfileImage], [IsEmailVerified], [IsMobileVerified], [IsActive], [ParentId], [Position]) VALUES (1, N'admin', N'System Administrator', N'Deadly Crew', CAST(N'1987-08-31' AS Date), N'Male', N'dcrewesports@gmail.com', N'9876543210', N'dcrewdark', N'Demo@123', CAST(N'2026-05-08T14:36:10.830' AS DateTime), N'~/assets/images/profiles/usr_dcrewdark_639142026137140014.png', 1, 1, 1, N'admin', N'Left')
INSERT [dbo].[Users] ([Id], [SponsorId], [SponsorName], [FullName], [Dob], [Gender], [Email], [Mobile], [Username], [Password], [CreatedAt], [ProfileImage], [IsEmailVerified], [IsMobileVerified], [IsActive], [ParentId], [Position]) VALUES (2, N'ADMIN', N'System Admin', N'Admin User', CAST(N'1990-01-01' AS Date), N'Male', N'admin@kartify.com', N'1234567890', N'admin', N'password', CAST(N'2026-05-08T14:36:10.830' AS DateTime), NULL, 0, 0, 1, NULL, NULL)
INSERT [dbo].[Users] ([Id], [SponsorId], [SponsorName], [FullName], [Dob], [Gender], [Email], [Mobile], [Username], [Password], [CreatedAt], [ProfileImage], [IsEmailVerified], [IsMobileVerified], [IsActive], [ParentId], [Position]) VALUES (3, N'dcrewdark', N'Deadly Crew', N'Rahul', CAST(N'1987-08-15' AS Date), N'Male', N'userrahul@yopmail.com', N'9876543210', N'userrahul', N'Demo@123', CAST(N'2026-05-11T23:19:44.887' AS DateTime), NULL, 0, 0, 1, N'dcrewdark', N'Left')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminUse__A9D10534BFA63C28]    Script Date: 14-05-2026 23:38:43 ******/
ALTER TABLE [dbo].[AdminUsers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__D34908007A80714B]    Script Date: 14-05-2026 23:38:43 ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[CouponCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SellerUs__A9D1053491A1FD12]    Script Date: 14-05-2026 23:38:43 ******/
ALTER TABLE [dbo].[SellerUsers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4376C2A5D]    Script Date: 14-05-2026 23:38:43 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountDeleteRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[AccountDeleteRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ('Home') FOR [Tag]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminMessages] ADD  DEFAULT ('fa-user') FOR [IconClass]
GO
ALTER TABLE [dbo].[AdminMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[AdminMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT ('fa-bell') FOR [IconClass]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((0)) FOR [IsSavedForLater]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[PayoutRequests] ADD  DEFAULT ((0)) FOR [TdsDeduction]
GO
ALTER TABLE [dbo].[PayoutRequests] ADD  DEFAULT ((0)) FOR [AdminCharges]
GO
ALTER TABLE [dbo].[PayoutRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[PayoutRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((1)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ('Approved') FOR [ReviewStatus]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [IsVerifiedPurchase]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_Type]  DEFAULT ('Size') FOR [VariantType]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_Stock]  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_Price]  DEFAULT ((0.00)) FOR [PriceOffset]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_Created]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SellerKycDrafts] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[SellerKycDrafts] ADD  DEFAULT ('PendingReview') FOR [Status]
GO
ALTER TABLE [dbo].[SellerProducts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ((0)) FOR [IsKycSubmitted]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ('Pending') FOR [KycStatus]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ((1)) FOR [NotifyEmail]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ((0)) FOR [NotifySms]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ((1)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ((1)) FOR [AdminApproved]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ('None') FOR [EditRequestStatus]
GO
ALTER TABLE [dbo].[SellerUsers] ADD  DEFAULT ('None') FOR [DeletionStatus]
GO
ALTER TABLE [dbo].[UserBankDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserBankDetails] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserIncome] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[UserIncome] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRewards] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[UserRewards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [SponsorId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [SponsorName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Mobile]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsMobileVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WishlistItems] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_SellerProducts] FOREIGN KEY([ProductId])
REFERENCES [dbo].[SellerProducts] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_SellerProducts]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_SellerProducts] FOREIGN KEY([ProductId])
REFERENCES [dbo].[SellerProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_SellerProducts]
GO
ALTER TABLE [dbo].[SellerKycDrafts]  WITH CHECK ADD  CONSTRAINT [FK_SellerKycDrafts_SellerUsers] FOREIGN KEY([SellerId])
REFERENCES [dbo].[SellerUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerKycDrafts] CHECK CONSTRAINT [FK_SellerKycDrafts_SellerUsers]
GO
/****** Object:  StoredProcedure [dbo].[GetSellerDashboardMetrics]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetSellerDashboardMetrics]
    @SellerId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Core Counters Table
    SELECT 
        (SELECT COUNT(*) FROM SellerProducts WHERE SellerId = @SellerId) AS TotalProducts,
        
        (SELECT ISNULL(SUM(OI.UnitPrice * OI.Quantity), 0) 
         FROM OrderItems OI 
         INNER JOIN SellerProducts SP ON OI.ProductId = SP.Id 
         INNER JOIN Orders O ON OI.OrderId = O.Id 
         WHERE SP.SellerId = @SellerId AND O.Status = 'Delivered') AS TotalEarnings,
         
        (SELECT ISNULL(SUM(OI.Quantity), 0) 
         FROM OrderItems OI 
         INNER JOIN SellerProducts SP ON OI.ProductId = SP.Id 
         INNER JOIN Orders O ON OI.OrderId = O.Id 
         WHERE SP.SellerId = @SellerId) AS TotalUnitsSold,
         
        (SELECT COUNT(DISTINCT O.Id) 
         FROM Orders O 
         INNER JOIN OrderItems OI ON O.Id = OI.OrderId 
         INNER JOIN SellerProducts SP ON OI.ProductId = SP.Id 
         WHERE SP.SellerId = @SellerId AND O.Status = 'Pending') AS PendingOrders;

    -- 2. Recent Orders Data Grid Table
    SELECT TOP 10 OI.OrderId, O.CreatedAt, OI.ProductName, OI.Quantity, OI.UnitPrice, O.Status 
    FROM OrderItems OI 
    INNER JOIN SellerProducts SP ON OI.ProductId = SP.Id 
    INNER JOIN Orders O ON OI.OrderId = O.Id 
    WHERE SP.SellerId = @SellerId 
    ORDER BY O.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveProductVariants]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveProductVariants]
    @ProductId INT,
    @VariantValue NVARCHAR(100),
    @Sku NVARCHAR(100) = NULL,
    @Stock INT = 0,
    @PriceOffset DECIMAL(18,2) = 0.00
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Basic validation
    IF @ProductId > 0 AND @VariantValue IS NOT NULL AND @VariantValue != ''
    BEGIN
        INSERT INTO ProductVariants (ProductId, VariantType, VariantValue, Sku, Stock, PriceOffset)
        VALUES (@ProductId, 'Size', @VariantValue, @Sku, @Stock, @PriceOffset);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminApproveProduct]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_AdminApproveProduct]
                    @ProductId INT, @Status NVARCHAR(50), @IsActive BIT
                AS
                BEGIN
                    UPDATE SellerProducts SET ListingStatus = @Status, IsActive = @IsActive, UpdatedAt = GETDATE() WHERE Id = @ProductId;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminLogin]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_AdminLogin]
    @Email NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, FullName, Email 
    FROM AdminUsers 
    WHERE Email = @Email AND Password = @Password AND IsActive = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_AdminUpdateUserStatus]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AdminUpdateUserStatus] AS BEGIN SET NOCOUNT ON; END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSellerCoupon]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_CreateSellerCoupon]
                    @SellerId INT, @Code NVARCHAR(50), @Type NVARCHAR(20), @Val DECIMAL(18,2), @MinAmt DECIMAL(18,2), @MaxDisc DECIMAL(18,2), @From DATETIME, @Until DATETIME, @Msg NVARCHAR(500), @Icon NVARCHAR(50)
                AS
                BEGIN
                    IF EXISTS (SELECT 1 FROM Coupons WHERE UPPER(CouponCode) = UPPER(@Code))
                    BEGIN
                        SELECT 0 as Success;
                        RETURN;
                    END
                    INSERT INTO Coupons (SellerId, CouponCode, DiscountType, DiscountValue, MinOrderAmount, MaxDiscount, ValidFrom, ValidUntil, Description, IconClass, IsActive, CreatedAt)
                    VALUES (@SellerId, UPPER(@Code), @Type, @Val, @MinAmt, @MaxDisc, @From, @Until, @Msg, @Icon, 1, GETDATE());
                    SELECT 1 as Success;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSellerCoupon]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_DeleteSellerCoupon]
                    @SellerId INT, @CouponId INT
                AS
                BEGIN
                    DELETE FROM Coupons WHERE Id = @CouponId AND SellerId = @SellerId;
                    SELECT 1 as Success;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSellerProduct]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_DeleteSellerProduct]
                    @Id INT, @SellerId INT
                AS
                BEGIN
                    DELETE FROM SellerProducts WHERE Id = @Id AND (@SellerId = 0 OR SellerId = @SellerId);
                    SELECT @@ROWCOUNT as Affected;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminDashboardStats]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetAdminDashboardStats]
                AS
                BEGIN
                    -- 1. Summary Stats
                    SELECT 
                        (SELECT COUNT(1) FROM Users) as TotalUsers,
                        (SELECT COUNT(1) FROM Users WHERE CAST(CreatedAt AS DATE) <= DATEADD(DAY, -1, CAST(GETDATE() AS DATE))) as UsersYesterday,
                        (SELECT COUNT(1) FROM Orders WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)) as OrdersToday,
                        (SELECT COUNT(1) FROM Orders WHERE CAST(CreatedAt AS DATE) = DATEADD(DAY, -1, CAST(GETDATE() AS DATE))) as OrdersYesterday,
                        (SELECT ISNULL(SUM(TotalAmount), 0) FROM Orders WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)) as RevenueToday,
                        (SELECT ISNULL(SUM(TotalAmount), 0) FROM Orders WHERE CAST(CreatedAt AS DATE) = DATEADD(DAY, -1, CAST(GETDATE() AS DATE))) as RevenueYesterday,
                        (SELECT COUNT(1) FROM Orders WHERE Status IN ('Pending','Placed','Processing')) as PendingOrders;

                    -- 2. Recent Orders
                    SELECT TOP 10
                        O.Id,
                        ISNULL(U.FullName, 'N/A') AS CustomerName,
                        ISNULL(U.Email, 'N/A') AS Email,
                        ISNULL(A.PhoneNumber, ISNULL(U.Mobile, 'N/A')) AS PhoneNumber,
                        LTRIM(RTRIM(ISNULL(A.StreetAddress + ', ', '') + ISNULL(A.City + ', ', '') + ISNULL(A.State, ''))) AS AddressText,
                        'Online' AS PaymentType,
                        O.CreatedAt,
                        O.TotalAmount,
                        ISNULL(O.Status, 'Pending') AS Status
                    FROM Orders O
                    LEFT JOIN Users U ON O.UserId = U.Id
                    LEFT JOIN Addresses A ON O.AddressId = A.Id
                    ORDER BY O.CreatedAt DESC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminProductListStats]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetAdminProductListStats]
                    @SellerId INT = 0
                AS
                BEGIN
                    SELECT 
                        (SELECT COUNT(1) FROM SellerProducts WHERE (@SellerId = 0 OR SellerId = @SellerId)) as TotalProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE IsActive = 1 AND (@SellerId = 0 OR SellerId = @SellerId)) as VisibleProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE ListingStatus = 'Pending' AND (@SellerId = 0 OR SellerId = @SellerId)) as PendingProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE IsActive = 1 AND ListingStatus = 'Approved' AND (@SellerId = 0 OR SellerId = @SellerId)) as LiveStoreProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE Stock <= 5 AND (@SellerId = 0 OR SellerId = @SellerId)) as LowStockProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE CreatedAt >= DATEADD(DAY, -7, GETDATE()) AND (@SellerId = 0 OR SellerId = @SellerId)) as AddedThisWeek,
                        (SELECT COUNT(1) FROM SellerProducts WHERE IsActive = 1 AND ListingStatus = 'Approved' AND CreatedAt >= DATEADD(DAY, -7, GETDATE()) AND (@SellerId = 0 OR SellerId = @SellerId)) as LiveThisWeek,
                        (SELECT COUNT(1) FROM SellerProducts WHERE ListingStatus = 'Pending' AND CONVERT(date, CreatedAt) = CONVERT(date, GETDATE()) AND (@SellerId = 0 OR SellerId = @SellerId)) as PendingToday,
                        (SELECT COUNT(1) FROM SellerProducts WHERE Stock = 0 AND (@SellerId = 0 OR SellerId = @SellerId)) as OutOfStock;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminProducts]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetAdminProducts]
                    @SellerId INT = 0, @Search NVARCHAR(100) = '', @DateFilter NVARCHAR(50) = '', @Take INT = 25
                AS
                BEGIN
                    SELECT TOP (@Take)
                        Id, Name, Slug, Brand, Sku, Category, Price, Mrp, Stock, ListingStatus, IsActive, IconClass, CreatedAt
                    FROM SellerProducts
                    WHERE (@SellerId = 0 OR SellerId = @SellerId)
                      AND (@Search = '' OR Name LIKE '%' + @Search + '%' OR Sku LIKE '%' + @Search + '%' OR Category LIKE '%' + @Search + '%')
                      AND (
                            @DateFilter = ''
                            OR (@DateFilter = 'this_month' AND YEAR(CreatedAt) = YEAR(GETDATE()) AND MONTH(CreatedAt) = MONTH(GETDATE()))
                            OR (@DateFilter = 'last_month' AND YEAR(CreatedAt) = YEAR(DATEADD(MONTH, -1, GETDATE())) AND MONTH(CreatedAt) = MONTH(DATEADD(MONTH, -1, GETDATE())))
                          )
                    ORDER BY Id DESC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminSellers]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetAdminSellers]
                    @Status NVARCHAR(50) = ''
                AS
                BEGIN
                    SELECT * FROM SellerUsers 
                    WHERE (@Status = '' OR KycStatus = @Status)
                    ORDER BY CreatedAt DESC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFeaturedProducts]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetFeaturedProducts]
AS
BEGIN
    SELECT TOP 4 Id, Name, Slug, Brand, Category, Price, Mrp, MainImage, BadgeText 
    FROM SellerProducts 
    WHERE IsActive = 1 
    ORDER BY CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetNetworkTree]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetNetworkTree]
    @RootUsername NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Build Binary common table expression iterating down by ParentId
    WITH UserHierarchy AS (
        SELECT 
            Username, 
            SponsorId,
            ParentId,
            Position, 
            FullName, 
            IsActive, 
            CreatedAt,
            1 AS GenerationLevel
        FROM Users
        WHERE Username = @RootUsername

        UNION ALL

        SELECT 
            u.Username, 
            u.SponsorId,
            u.ParentId,
            u.Position, 
            u.FullName, 
            u.IsActive, 
            u.CreatedAt,
            uh.GenerationLevel + 1
        FROM Users u
        INNER JOIN UserHierarchy uh ON u.ParentId = uh.Username -- Traverse down by ParentId!
        WHERE uh.GenerationLevel < 4
        AND u.Username <> u.ParentId -- Cycle defense loop breaker
    )
    SELECT 
        h.Username, 
        h.SponsorId,
        h.ParentId,
        h.Position, 
        h.FullName, 
        h.IsActive, 
        h.CreatedAt,
        h.GenerationLevel,
        -- Count direct referrers (sponsored nodes) for tooltip count
        (SELECT COUNT(*) FROM Users d WHERE d.SponsorId = h.Username AND d.Username <> d.SponsorId) AS DirectTeamCount
    FROM UserHierarchy h
    ORDER BY h.GenerationLevel, h.CreatedAt ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductById]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetProductById]
                    @Id INT, @SellerId INT = 0
                AS
                BEGIN
                    SELECT * FROM SellerProducts WHERE Id = @Id AND (@SellerId = 0 OR SellerId = @SellerId);
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductDetailsBySlug]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetProductDetailsBySlug]
                    @Slug NVARCHAR(220)
                AS
                BEGIN
                    SELECT TOP 1
                        Id, Name, Slug, Sku, Price, Mrp, Category, Brand, Description,
                        ThumbnailUrl, GalleryUrls, Stock, ProductType, SizeOptions, SelectedColors,
                        ShippingClass, MetaTitle, MetaKeywords, CreatedAt
                    FROM SellerProducts
                    WHERE LOWER(Slug) = LOWER(@Slug);
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellerCoupons]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetSellerCoupons]
                    @SellerId INT, @Search NVARCHAR(100)
                AS
                BEGIN
                    SELECT * FROM Coupons 
                    WHERE SellerId = @SellerId 
                      AND (@Search = '' OR CouponCode LIKE '%' + @Search + '%' OR Description LIKE '%' + @Search + '%')
                    ORDER BY CreatedAt DESC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellerDashboardStats]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetSellerDashboardStats]
                    @SellerId INT
                AS
                BEGIN
                    -- 1. Profile Info
                    SELECT TOP 1 KycStatus, RequestedCategories FROM SellerUsers WHERE Id = @SellerId;
                    -- 2. Products Stats
                    SELECT COUNT(1) as Total, SUM(CASE WHEN IsActive = 1 THEN 1 ELSE 0 END) as Active, SUM(CASE WHEN ListingStatus = 'Pending' THEN 1 ELSE 0 END) as Pending, SUM(CASE WHEN Stock < 10 THEN 1 ELSE 0 END) as LowStock FROM SellerProducts WHERE SellerId = @SellerId;
                    -- 3. Orders & Revenue Stats
                    SELECT COUNT(DISTINCT oi.OrderId) as TotalOrders, SUM(oi.UnitPrice * oi.Quantity) as TotalRevenue, SUM(CASE WHEN o.Status = 'Placed' OR o.Status = 'Pending' THEN 1 ELSE 0 END) as ToConfirm FROM OrderItems oi JOIN Orders o ON oi.OrderId = o.Id JOIN SellerProducts p ON oi.ProductId = p.Id WHERE p.SellerId = @SellerId;
                    -- 4. Recent Orders
                    SELECT TOP 8 o.Id as OrderId, 'LUXE' + CAST(o.Id as VARCHAR) as OrderNumber, u.FullName as CustomerName, o.Status, o.TotalAmount, o.CreatedAt FROM Orders o JOIN OrderItems oi ON o.Id = oi.OrderId JOIN SellerProducts p ON oi.ProductId = p.Id JOIN Users u ON o.UserId = u.Id WHERE p.SellerId = @SellerId GROUP BY o.Id, u.FullName, o.Status, o.TotalAmount, o.CreatedAt ORDER BY o.CreatedAt DESC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellerInventory]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetSellerInventory]
                    @SellerId INT, @Search NVARCHAR(100) = '', @Category NVARCHAR(100) = '', @StockFilter NVARCHAR(50) = ''
                AS
                BEGIN
                    SELECT * FROM SellerProducts
                    WHERE SellerId = @SellerId
                      AND (@Search = '' OR Name LIKE '%' + @Search + '%' OR Sku LIKE '%' + @Search + '%')
                      AND (@Category = '' OR Category = @Category)
                      AND (
                            @StockFilter = ''
                            OR (@StockFilter = 'low' AND Stock > 0 AND Stock <= 5)
                            OR (@StockFilter = 'out' AND Stock <= 0)
                            OR (@StockFilter = 'available' AND Stock > 5)
                          )
                    ORDER BY Stock ASC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellerOrders]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetSellerOrders]
                    @SellerId INT, @Status NVARCHAR(50), @Search NVARCHAR(100)
                AS
                BEGIN
                    SELECT o.Id as OrderId, 'LUXE' + CAST(o.Id as VARCHAR) as OrderNumber, u.FullName as CustomerName, o.Status, SUM(oi.UnitPrice * oi.Quantity) as SellerAmount, o.CreatedAt
                    FROM Orders o JOIN OrderItems oi ON o.Id = oi.OrderId JOIN SellerProducts p ON oi.ProductId = p.Id JOIN Users u ON o.UserId = u.Id
                    WHERE p.SellerId = @SellerId AND (@Status = '' OR o.Status = @Status) AND (@Search = '' OR u.FullName LIKE '%' + @Search + '%' OR CAST(o.Id as VARCHAR) LIKE '%' + @Search + '%')
                    GROUP BY o.Id, u.FullName, o.Status, o.CreatedAt ORDER BY o.CreatedAt DESC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellerProductListStats]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetSellerProductListStats]
                    @SellerId INT
                AS
                BEGIN
                    SELECT 
                        (SELECT COUNT(1) FROM SellerProducts WHERE SellerId = @SellerId) as TotalProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE IsActive = 1 AND SellerId = @SellerId) as VisibleProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE ListingStatus = 'Pending' AND SellerId = @SellerId) as PendingProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE IsActive = 1 AND ListingStatus = 'Approved' AND SellerId = @SellerId) as LiveStoreProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE Stock <= 5 AND SellerId = @SellerId) as LowStockProducts,
                        (SELECT COUNT(1) FROM SellerProducts WHERE CreatedAt >= DATEADD(DAY, -7, GETDATE()) AND SellerId = @SellerId) as AddedThisWeek,
                        (SELECT COUNT(1) FROM SellerProducts WHERE IsActive = 1 AND ListingStatus = 'Approved' AND CreatedAt >= DATEADD(DAY, -7, GETDATE()) AND SellerId = @SellerId) as LiveThisWeek,
                        (SELECT COUNT(1) FROM SellerProducts WHERE ListingStatus = 'Pending' AND CONVERT(date, CreatedAt) = CONVERT(date, GETDATE()) AND SellerId = @SellerId) as PendingToday,
                        (SELECT COUNT(1) FROM SellerProducts WHERE Stock = 0 AND SellerId = @SellerId) as OutOfStock;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellerProducts]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetSellerProducts]
                    @SellerId INT, @Search NVARCHAR(100), @Cat NVARCHAR(100), @Status NVARCHAR(50), @DateFilter NVARCHAR(50), @Take INT
                AS
                BEGIN
                    SELECT TOP (@Take) * FROM SellerProducts 
                    WHERE SellerId = @SellerId 
                      AND (@Search = '' OR Name LIKE '%' + @Search + '%' OR Sku LIKE '%' + @Search + '%')
                      AND (@Cat = '' OR Category = @Cat)
                      AND (@Status = '' OR ListingStatus = @Status)
                      AND (
                            @DateFilter = ''
                            OR (@DateFilter = 'this_month' AND YEAR(CreatedAt) = YEAR(GETDATE()) AND MONTH(CreatedAt) = MONTH(GETDATE()))
                            OR (@DateFilter = 'last_month' AND YEAR(CreatedAt) = YEAR(DATEADD(MONTH, -1, GETDATE())) AND MONTH(CreatedAt) = MONTH(DATEADD(MONTH, -1, GETDATE())))
                          )
                    ORDER BY CreatedAt DESC;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageReviewStatus]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_ManageReviewStatus]
                    @ReviewId INT, @SellerId INT, @Status NVARCHAR(20), @IsApproved BIT
                AS
                BEGIN
                    UPDATE PR
                    SET PR.ReviewStatus = @Status,
                        PR.IsApproved = @IsApproved
                    FROM ProductReviews PR
                    INNER JOIN SellerProducts SP ON SP.Id = PR.ProductId
                    WHERE PR.Id = @ReviewId
                      AND (@SellerId = 0 OR SP.SellerId = @SellerId);
                    SELECT @@ROWCOUNT as Affected;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_PlaceOrder]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_PlaceOrder]
                    @UserId INT, @AddressId INT, @TotalAmount DECIMAL(18,2), @ItemCount INT,
                    @CouponCode NVARCHAR(50), @DiscountAmount DECIMAL(18,2), @ItemsXml XML
                AS
                BEGIN
                    SET NOCOUNT ON;
                    BEGIN TRANSACTION;
                    BEGIN TRY
                        INSERT INTO Orders (UserId, AddressId, Status, TotalAmount, ItemCount, CouponCode, DiscountAmount, CreatedAt)
                        VALUES (@UserId, @AddressId, 'Placed', @TotalAmount, @ItemCount, @CouponCode, @DiscountAmount, GETDATE());
                        
                        DECLARE @OrderId INT = SCOPE_IDENTITY();
                        
                        INSERT INTO OrderItems (OrderId, ProductId, ProductName, UnitPrice, Quantity, CreatedAt)
                        SELECT @OrderId,
                               T.c.value('@ProductId', 'INT'),
                               T.c.value('@ProductName', 'NVARCHAR(255)'),
                               T.c.value('@UnitPrice', 'DECIMAL(18,2)'),
                               T.c.value('@Quantity', 'INT'),
                               GETDATE()
                        FROM @ItemsXml.nodes('/Items/Item') T(c);
                        
                        COMMIT TRANSACTION;
                        SELECT @OrderId as OrderId;
                    END TRY
                    BEGIN CATCH
                        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
                        THROW;
                    END CATCH
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveSellerProduct]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_SaveSellerProduct]
                    @Name NVARCHAR(200), @Slug NVARCHAR(220), @Brand NVARCHAR(120), @Sku NVARCHAR(80), 
                    @Category NVARCHAR(100), @Price DECIMAL(18,2), @Mrp DECIMAL(18,2), @Stock INT,
                    @IsActive BIT, @IconClass NVARCHAR(50), @SellerId INT, @Description NVARCHAR(MAX), 
                    @ThumbnailUrl NVARCHAR(500), @GalleryUrls NVARCHAR(MAX), @ProductType NVARCHAR(100), 
                    @SizeOptions NVARCHAR(MAX), @ColorOptions NVARCHAR(MAX), @Gender NVARCHAR(50), 
                    @Currency NVARCHAR(20), @FlashOfferText NVARCHAR(250), @OfferCountdown NVARCHAR(50), 
                    @BankOfferText NVARCHAR(300), @Weight NVARCHAR(50), @Dimensions NVARCHAR(100), 
                    @ShippingClass NVARCHAR(100), @MetaTitle NVARCHAR(200), @MetaKeywords NVARCHAR(500), 
                    @MetaDescription NVARCHAR(MAX), @BadgeText NVARCHAR(100), @BrandDisplay NVARCHAR(150)
                AS
                BEGIN
                    INSERT INTO SellerProducts 
                    (Name, Slug, Brand, Sku, Category, Price, Mrp, Stock, ListingStatus, IsActive, IconClass, CreatedAt, SellerId,
                     Description, ThumbnailUrl, GalleryUrls, ProductType, SizeOptions, ColorOptions, Gender, Currency, FlashOfferText, 
                     OfferCountdown, BankOfferText, Weight, Dimensions, ShippingClass, MetaTitle, MetaKeywords, MetaDescription, 
                     BadgeText, BrandDisplay)
                    VALUES 
                    (@Name, @Slug, @Brand, @Sku, @Category, @Price, @Mrp, @Stock, 'Pending', @IsActive, @IconClass, GETDATE(), @SellerId,
                     @Description, @ThumbnailUrl, @GalleryUrls, @ProductType, @SizeOptions, @ColorOptions, @Gender, @Currency, @FlashOfferText, 
                     @OfferCountdown, @BankOfferText, @Weight, @Dimensions, @ShippingClass, @MetaTitle, @MetaKeywords, @MetaDescription, 
                     @BadgeText, @BrandDisplay);
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_SellerLogin]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_SellerLogin]
                    @Email NVARCHAR(200), @PassHash NVARCHAR(255)
                AS
                BEGIN
                    SELECT TOP 1 * FROM SellerUsers WHERE LOWER(Email) = LOWER(@Email) AND PasswordHash = @PassHash;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_SellerRegister]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_SellerRegister]
                    @FullName NVARCHAR(150), @Email NVARCHAR(200), @Phone NVARCHAR(20), @PassHash NVARCHAR(255), @StoreName NVARCHAR(180), @Gst NVARCHAR(50), @Cat NVARCHAR(300), @Note NVARCHAR(500), @Code NVARCHAR(20), @Exp DATETIME
                AS
                BEGIN
                    INSERT INTO SellerUsers (FullName, Email, Phone, PasswordHash, StoreName, GstNumber, RequestedCategories, AdditionalNote, IsActive, EmailVerified, AdminApproved, RegistrationCode, RegistrationCodeExpiresAt)
                    VALUES (@FullName, @Email, @Phone, @PassHash, @StoreName, @Gst, @Cat, @Note, 0, 0, 0, @Code, @Exp);
                    SELECT CAST(SCOPE_IDENTITY() AS INT);
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_SubmitProductReview]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_SubmitProductReview]
                    @ProductId INT, @UserId INT, @ReviewerName NVARCHAR(120), 
                    @Rating INT, @ReviewText NVARCHAR(MAX), @ProductName NVARCHAR(220)
                AS
                BEGIN
                    -- 1. Check Cooldown
                    DECLARE @LastDate DATETIME = (SELECT TOP 1 ReviewDate FROM ProductReviews WHERE UserId = @UserId AND ProductId = @ProductId ORDER BY ReviewDate DESC);
                    IF @LastDate IS NOT NULL AND DATEDIFF(MINUTE, @LastDate, GETDATE()) < 30
                    BEGIN
                        SELECT -2 as Result, DATEDIFF(MINUTE, GETDATE(), DATEADD(MINUTE, 30, @LastDate)) as Remaining;
                        RETURN;
                    END

                    -- 2. Verified Purchase Check
                    DECLARE @IsVerified BIT = 0;
                    IF EXISTS (
                        SELECT 1 FROM Orders O 
                        JOIN OrderItems I ON I.OrderId = O.Id 
                        WHERE O.UserId = @UserId AND (I.ProductId = @ProductId OR LOWER(I.ProductName) = LOWER(@ProductName))
                        AND ISNULL(O.Status,'') NOT IN ('Cancelled','Failed')
                    ) SET @IsVerified = 1;

                    -- 3. Insert
                    INSERT INTO ProductReviews (ProductId, UserId, ReviewerName, Rating, ReviewText, ReviewDate, IsApproved, ReviewStatus, IsVerifiedPurchase, ProductName)
                    VALUES (@ProductId, @UserId, @ReviewerName, @Rating, @ReviewText, GETDATE(), 0, 'Pending', @IsVerified, @ProductName);
                    
                    SELECT 1 as Result, 0 as Remaining;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_SyncUserRewards]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_SyncUserRewards]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Add New Missing Orders as PENDING
        INSERT INTO UserRewards (UserId, OrderId, OrderAmount, PointsEarned, Status, CreatedAt)
        SELECT O.UserId, O.Id, O.TotalAmount, CAST(O.TotalAmount AS INT), 'PENDING', O.CreatedAt
        FROM Orders O
        WHERE O.UserId = @UserId 
        AND O.Id NOT IN (SELECT OrderId FROM UserRewards WHERE UserId = @UserId);

        -- 2. Cancel Pending points if Order is Cancelled/Returned
        UPDATE UserRewards
        SET Status = 'CANCELLED'
        FROM UserRewards UR
        JOIN Orders O ON UR.OrderId = O.Id
        WHERE UR.UserId = @UserId 
        AND UR.Status = 'PENDING' 
        AND UPPER(O.Status) IN ('CANCELLED', 'RETURNED');

        -- 3. Credit points if 10 days past Delivery
        UPDATE UserRewards
        SET Status = 'CREDITED',
            CreditedDate = GETDATE(),
            ExpiryDate = DATEADD(day, 120, GETDATE())
        FROM UserRewards UR
        JOIN Orders O ON UR.OrderId = O.Id
        WHERE UR.UserId = @UserId 
        AND UR.Status = 'PENDING' 
        AND UPPER(O.Status) = 'DELIVERED'
        AND DATEDIFF(day, O.UpdatedAt, GETDATE()) >= 10;

        -- 4. Expire past dated credited points
        UPDATE UserRewards
        SET Status = 'EXPIRED'
        WHERE UserId = @UserId 
        AND Status = 'CREDITED'
        AND ExpiryDate < GETDATE();

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ToggleCouponStatus]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_ToggleCouponStatus]
                    @SellerId INT, @CouponId INT
                AS
                BEGIN
                    UPDATE Coupons SET IsActive = CASE WHEN IsActive = 1 THEN 0 ELSE 1 END, UpdatedAt = GETDATE()
                    WHERE Id = @CouponId AND SellerId = @SellerId;
                    SELECT 1 as Success;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderStatus]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_UpdateOrderStatus]
                    @SellerId INT, @OrderId INT, @Status NVARCHAR(50)
                AS
                BEGIN
                    IF EXISTS (SELECT 1 FROM OrderItems oi JOIN SellerProducts p ON oi.ProductId = p.Id WHERE oi.OrderId = @OrderId AND p.SellerId = @SellerId)
                    BEGIN
                        UPDATE Orders SET Status = @Status, UpdatedAt = GETDATE() WHERE Id = @OrderId;
                        SELECT 1 as Success;
                    END
                    ELSE SELECT 0 as Success;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSellerKyc]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_UpdateSellerKyc]
                    @Id INT, @Gst NVARCHAR(50), @Pan NVARCHAR(50), @Aadhar NVARCHAR(50), @Doc NVARCHAR(500), 
                    @PanDoc NVARCHAR(400), @AadharDoc NVARCHAR(400), @AddrDoc NVARCHAR(400), @IdDoc NVARCHAR(400),
                    @BankHolder NVARCHAR(150), @BankAcc NVARCHAR(34), @BankIfsc NVARCHAR(11), @BankName NVARCHAR(120),
                    @Addr NVARCHAR(MAX), @City NVARCHAR(100), @State NVARCHAR(100), @Pin NVARCHAR(20)
                AS
                BEGIN
                    UPDATE SellerUsers SET 
                        GstNumber = @Gst, PanNumber = @Pan, AadharNumber = @Aadhar, DocumentPath = @Doc,
                        PanDocumentPath = @PanDoc, AadharDocumentPath = @AadharDoc, KycAddressProofPath = @AddrDoc, 
                        KycIdProofPath = @IdDoc, BankHolderName = @BankHolder, BankAccountNumber = @BankAcc, 
                        BankIFSC = @BankIfsc, BankName = @BankName, Address = @Addr, City = @City, 
                        State = @State, Pincode = @Pin, IsKycSubmitted = 1, KycStatus = 'Under Review', 
                        EditRequestStatus = 'None', UpdatedAt = GETDATE()
                    WHERE Id = @Id;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSellerProduct]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_UpdateSellerProduct]
                    @Id INT, @Name NVARCHAR(200), @Slug NVARCHAR(220), @Brand NVARCHAR(120), 
                    @Category NVARCHAR(100), @Price DECIMAL(18,2), @Mrp DECIMAL(18,2), @Stock INT,
                    @IsActive BIT, @IconClass NVARCHAR(50), @SellerId INT, @Description NVARCHAR(MAX), 
                    @ThumbnailUrl NVARCHAR(500), @GalleryUrls NVARCHAR(MAX), @ProductType NVARCHAR(100), 
                    @SizeOptions NVARCHAR(MAX), @ColorOptions NVARCHAR(MAX), @Gender NVARCHAR(50), 
                    @Currency NVARCHAR(20), @FlashOfferText NVARCHAR(250), @OfferCountdown NVARCHAR(50), 
                    @BankOfferText NVARCHAR(300), @Weight NVARCHAR(50), @Dimensions NVARCHAR(100), 
                    @ShippingClass NVARCHAR(100), @MetaTitle NVARCHAR(200), @MetaKeywords NVARCHAR(500), 
                    @MetaDescription NVARCHAR(MAX), @BadgeText NVARCHAR(100), @BrandDisplay NVARCHAR(150)
                AS
                BEGIN
                    UPDATE SellerProducts SET 
                        Name = @Name, Slug = @Slug, Brand = @Brand, Category = @Category, 
                        Price = @Price, Mrp = @Mrp, Stock = @Stock, IsActive = @IsActive, 
                        IconClass = @IconClass, Description = @Description,
                        ThumbnailUrl = @ThumbnailUrl, GalleryUrls = @GalleryUrls,
                        ProductType = @ProductType, SizeOptions = @SizeOptions, ColorOptions = @ColorOptions,
                        FlashOfferText = @FlashOfferText, BankOfferText = @BankOfferText, OfferCountdown = @OfferCountdown,
                        MetaTitle = @MetaTitle, MetaKeywords = @MetaKeywords, MetaDescription = @MetaDescription,
                        Weight = @Weight, Dimensions = @Dimensions, Gender = @Gender, Currency = @Currency,
                        ShippingClass = @ShippingClass, BadgeText = @BadgeText, BrandDisplay = @BrandDisplay,
                        UpdatedAt = GETDATE()
                    WHERE Id = @Id AND (@SellerId = 0 OR SellerId = @SellerId);
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSellerProductInventory]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_UpdateSellerProductInventory]
                    @Id INT, @SellerId INT, @Stock INT, @IsActive BIT, @Badge NVARCHAR(60)
                AS
                BEGIN
                    UPDATE SellerProducts SET Stock = @Stock, IsActive = @IsActive, Badge = @Badge, UpdatedAt = GETDATE()
                    WHERE Id = @Id AND SellerId = @SellerId;
                    SELECT @@ROWCOUNT;
                END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                    CREATE PROCEDURE [dbo].[sp_UserLogin]
                        @Username NVARCHAR(50),
                        @Password NVARCHAR(50)
                    AS
                    BEGIN
                        SET NOCOUNT ON;
                        SELECT U.Id, U.Username, U.Email, U.FullName, U.IsActive,
                               (SELECT TOP 1 Status FROM AccountDeleteRequests WHERE UserId = U.Id AND Status = 'APPROVED') as DelStatus
                        FROM Users U
                        WHERE U.Username = @Username AND U.Password = @Password;
                    END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserSignup]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserSignup]
    @SponsorId NVARCHAR(100), @SponsorName NVARCHAR(255), @FullName NVARCHAR(255),
    @Dob DATE, @Gender NVARCHAR(50), @Email NVARCHAR(255), @Mobile NVARCHAR(50),
    @Username NVARCHAR(100), @Password NVARCHAR(255),
    @Position NVARCHAR(10) -- NEW PARAMETER: 'Left' or 'Right'
AS
BEGIN
    SET NOCOUNT ON;

    -- Verify Target Username uniqueness
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT -1 as Result; -- Username already taken
        RETURN;
    END

    -- AUTOMATED SPILLOVER LOGIC
    -- Search down the selected side leg until an open slot is located
    DECLARE @CurrentParent NVARCHAR(100) = @SponsorId;
    DECLARE @CalculatedParent NVARCHAR(100) = NULL;

    WHILE @CalculatedParent IS NULL
    BEGIN
        DECLARE @ChildAtPosition NVARCHAR(100) = NULL;
        
        -- Check if someone occupies the selected slot under @CurrentParent
        SELECT @ChildAtPosition = Username 
        FROM Users 
        WHERE ParentId = @CurrentParent AND Position = @Position;
        
        IF @ChildAtPosition IS NULL
        BEGIN
            -- Success: Slot is available!
            SET @CalculatedParent = @CurrentParent;
        END
        ELSE
        BEGIN
            -- Occupied: Step down to that child node and re-evaluate!
            SET @CurrentParent = @ChildAtPosition;
        END
    END

    -- Commit registration with definitive Direct Sponsor & Calculated Placement Parent
    INSERT INTO Users (
        SponsorId, SponsorName, FullName, Dob, Gender, Email, Mobile, 
        Username, Password, ParentId, Position
    )
    VALUES (
        @SponsorId, @SponsorName, @FullName, @Dob, @Gender, @Email, @Mobile, 
        @Username, @Password, @CalculatedParent, @Position
    );
    
    SELECT CAST(SCOPE_IDENTITY() AS INT) as Result;
END
GO
/****** Object:  StoredProcedure [dbo].[UpsertSellerProduct]    Script Date: 14-05-2026 23:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpsertSellerProduct]
    @Id INT = 0,
    @SellerId INT,
    @Name NVARCHAR(255),
    @Slug NVARCHAR(300) = NULL,
    @Brand NVARCHAR(100) = NULL,
    @Sku NVARCHAR(100),
    @Category NVARCHAR(100),
    @Price DECIMAL(18,2),
    @Mrp DECIMAL(18,2),
    @Stock INT,
    @IsActive BIT = 1,
    @MainImage NVARCHAR(500) = NULL,
    @ThumbnailUrl NVARCHAR(500) = NULL,
    @GalleryUrls NVARCHAR(MAX) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @ProductType NVARCHAR(100) = NULL,
    @SizeOptions NVARCHAR(500) = NULL,
    @ColorOptions NVARCHAR(500) = NULL,
    @ShippingClass NVARCHAR(100) = NULL,
    @Weight NVARCHAR(100) = NULL,
    @Dimensions NVARCHAR(100) = NULL,
    @Gender NVARCHAR(100) = NULL,
    @MetaTitle NVARCHAR(255) = NULL,
    @MetaKeywords NVARCHAR(500) = NULL,
    @MetaDescription NVARCHAR(1000) = NULL,
    @Badge NVARCHAR(100) = NULL,
    @BadgeText NVARCHAR(100) = NULL,
    @ColorGroupKey NVARCHAR(100) = NULL,
    @ColorName NVARCHAR(50) = NULL,
    @ColorCode NVARCHAR(50) = NULL,
    
    -- NEW OFFER PARAMETERS
    @FlashOfferText NVARCHAR(500) = NULL,
    @OfferCountdown NVARCHAR(100) = NULL,
    @BankOfferText NVARCHAR(500) = NULL,

    -- NEW MANUFACTURER PARAMETERS
    @ManufacturerName NVARCHAR(255) = NULL,
    @ManufacturerCountry NVARCHAR(150) = NULL,
    @ManufacturerAddress NVARCHAR(500) = NULL,
    
    @NewId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- If no external slug was provided, fallback to Name-based slug
    IF @Slug IS NULL OR @Slug = ''
    BEGIN
        SET @Slug = LOWER(REPLACE(REPLACE(REPLACE(REPLACE(@Name, ' ', '-'), '&', 'and'), '/', '-'), '--', '-'));
    END

    IF @Id = 0 OR NOT EXISTS(SELECT 1 FROM SellerProducts WHERE Id = @Id AND SellerId = @SellerId)
    BEGIN
        -- INSERT
        INSERT INTO SellerProducts (
            Name, Slug, Brand, Sku, Category, Price, Mrp, Stock, IsActive, ListingStatus,
            SellerId, MainImage, ThumbnailUrl, GalleryUrls, Description, ProductType, SizeOptions, ColorOptions,
            ShippingClass, Weight, Dimensions, Gender, MetaTitle, MetaKeywords, MetaDescription,
            Badge, BadgeText, ColorGroupKey, ColorName, ColorCode,
            FlashOfferText, OfferCountdown, BankOfferText,
            ManufacturerName, ManufacturerCountry, ManufacturerAddress,
            CreatedAt, UpdatedAt
        )
        VALUES (
            @Name, @Slug, @Brand, @Sku, @Category, @Price, @Mrp, @Stock, @IsActive, 'Active',
            @SellerId, @MainImage, @ThumbnailUrl, @GalleryUrls, @Description, @ProductType, @SizeOptions, @ColorOptions,
            @ShippingClass, @Weight, @Dimensions, @Gender, @MetaTitle, @MetaKeywords, @MetaDescription,
            @Badge, @BadgeText, @ColorGroupKey, @ColorName, @ColorCode,
            @FlashOfferText, @OfferCountdown, @BankOfferText,
            @ManufacturerName, @ManufacturerCountry, @ManufacturerAddress,
            GETDATE(), GETDATE()
        );
        
        SET @NewId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- UPDATE
        UPDATE SellerProducts
        SET Name = @Name,
            Slug = @Slug,
            Brand = @Brand,
            Sku = @Sku,
            Category = @Category,
            Price = @Price,
            Mrp = @Mrp,
            Stock = @Stock,
            IsActive = @IsActive,
            MainImage = CASE WHEN @MainImage IS NOT NULL AND @MainImage != '' THEN @MainImage ELSE MainImage END,
            ThumbnailUrl = CASE WHEN @ThumbnailUrl IS NOT NULL AND @ThumbnailUrl != '' THEN @ThumbnailUrl ELSE ThumbnailUrl END,
            GalleryUrls = CASE WHEN @GalleryUrls IS NOT NULL THEN @GalleryUrls ELSE GalleryUrls END,
            Description = @Description,
            ProductType = @ProductType,
            SizeOptions = @SizeOptions,
            ColorOptions = @ColorOptions,
            ShippingClass = @ShippingClass,
            Weight = @Weight,
            Dimensions = @Dimensions,
            Gender = @Gender,
            MetaTitle = @MetaTitle,
            MetaKeywords = @MetaKeywords,
            MetaDescription = @MetaDescription,
            Badge = @Badge,
            BadgeText = @BadgeText,
            ColorGroupKey = @ColorGroupKey,
            ColorName = @ColorName,
            ColorCode = @ColorCode,
            
            -- PERSIST NEW OFFERS
            FlashOfferText = @FlashOfferText,
            OfferCountdown = @OfferCountdown,
            BankOfferText = @BankOfferText,

            -- PERSIST MANUFACTURER DETAILS
            ManufacturerName = @ManufacturerName,
            ManufacturerCountry = @ManufacturerCountry,
            ManufacturerAddress = @ManufacturerAddress,
            
            UpdatedAt = GETDATE()
        WHERE Id = @Id AND SellerId = @SellerId;
        
        SET @NewId = @Id;
    END
END
GO
